	/*main-propertiesproperties*/
body, html{
width: 100%;
height: 100%;
}
.container{
max-width: 1170px;
margin: 0px auto;
width: 100%;
}
	/*end-of-main-properties*/

	/*header-properties*/
.header{
	padding: 20px 0;
	top: 0;
	left: 0;
	width: 100%;
}
.logo{
	width: 200px;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-ul{
	display: flex;
}
.nav-li{
	margin-right: 17px;
	font-size: 26px;
}
.last{
	margin-right: 0px;
}
.social-ul{
	display: flex;
}
.social-li{
	margin-right: 17px;

}
.social{
	height: 30px;
}
.social-li::after{
	content: "";
	width: 2px;
	height: 26px;
	display: inline-block;
	background: #3D58A6;
	margin: 0 19px;
}
.fab{
	font-size: 30px;
	color: #3D58A6;
}
	/*end-of-header-properties*/

	/*red-properties*/
.red-bg{
	background-color: #EE4036;
	padding: 30px 0;
}
.red-bg-contact{
	color: #fff;
	font-size: 23px;
	text-transform: uppercase;
}
	/*end-of-red-properties*/
	/*map-properties*/
.map-bg{
	background-color: #E6E6E6;
    padding: 30px 0;
}
.container iframe{
	width: 100%;
}
	/*end-of-map-properties*/

	/*blue-properties*/
.form-wraper{
display: flex;
}
.blue-bg{
background-color: #363E97;
padding: 40px 0px 40px 100px;
display: flex;

}
.left{
font-size: 20px;
color: #fff;
padding-right: 55px;
}
.right{
padding-right:170px;
font-size: 20px;
color: #fff;
}
.row {
padding-bottom: 35px;
}
.e-mail{
color: inherit;
}
.form{
display: flex;
flex-direction: column;
}
.form-group{
display: flex;
flex-direction: column;
padding-bottom: 20px;
}
.input{
width: 629px;
background-color: transparent;
outline: none;
border: 1px solid #fff;
padding: 20px 30px;
color: #E6E6E6;
font-size: 14px;

}
.label{
padding-bottom: 20px;
padding-left: 25px;
text-transform: capitalize;
}
input::placeholder{
color: #5E65AC;
}
.send{
background-color: #EE4036;
color: #fff;
font-size: 19px;
padding: 15px 45px;
outline: none;
border:none;
}
	/*end-of-blue-properties*/
	/*grey-bg*/
.grey-bg{
	background-color: #E6E6E6;
	padding: 30px 0;
}
	/*end-of-grey-bg*/
	/*footer-bg*/
.footer{
	padding: 25px 0;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	
